<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="  
	    http://www.springframework.org/schema/beans   
	    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	    http://www.springframework.org/schema/aop
	    http://www.springframework.org/schema/aop/spring-aop-2.5.xsd 
	    http://www.springframework.org/schema/tx   
	    http://www.springframework.org/schema/tx/spring-tx-3.0.xsd   
	    http://www.springframework.org/schema/context   
	    http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<aop:config proxy-target-class="true" />
	<!-- 引入jdbc配置文件 -->
	<context:property-placeholder location="classpath:config/jdbc.properties,classpath:config/redis.properties" />
	<context:annotation-config />
	<!-- 自动扫描 -->

	<context:component-scan base-package="com.linksus.service" />
	<!-- 事务管理transaction manager -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!--创建jdbc数据源 -->
	<!--<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="${driver}" />
		<property name="url" value="${url}" />
		<property name="username" value="${username}" />
		<property name="password" value="${password}" />
		<property name="defaultAutoCommit" value="true" /> 
	</bean>-->
	
	<bean id="dataSource"  
    	class="com.mchange.v2.c3p0.ComboPooledDataSource">  
	    <property name="driverClass" value="${driver}"/>  
	    <property name="jdbcUrl" value="${url}"/>  
	    <property name="user" value="${username}"/>  
	    <property name="password" value="${password}"/> 
	    <property name="acquireIncrement" value="3"/>  
	    <property name="initialPoolSize" value="5"/>  
	    <property name="maxIdleTime" value="120"/>  
	    <property name="minPoolSize" value="3"/>
	    <property name="maxPoolSize" value="20"/>  
	    <property name="acquireRetryDelay" value="1000"/>  
	    <property name="acquireRetryAttempts" value="60"/>  
	    <property name="testConnectionOnCheckin" value="false"/>
  		<property  name="idleConnectionTestPeriod" value="60"/>
	    <property name="breakAfterAcquireFailure" value="false"/>  
	</bean>

	<!-- mybatis文件-->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:config/mybatis-config.xml" />
	</bean>
	<bean id="mapperScanner" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.linksus.dao" />
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
	</bean>
	
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">  
  		<constructor-arg index="0" ref="sqlSessionFactory" />  
  		<constructor-arg index="1" value="BATCH" />
	</bean>
<!-- AOP事务 -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="*" propagation="REQUIRED" />
		</tx:attributes>
	</tx:advice>

	<aop:config>
		<aop:pointcut id="interceptorPointCuts"
			expression="execution(* com.linksus.service.*.*(..))" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="interceptorPointCuts" />
	</aop:config>

	<!-- redis -->
 	<!-- jedis pool配置 -->  
    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">  
        <property name="maxActive" value="${redis.pool.maxActive}" />  
        <property name="maxIdle" value="${redis.pool.maxIdle}" />  
        <property name="maxWait" value="${redis.pool.maxWait}" />  
        <property name="testOnBorrow" value="${redis.pool.testOnBorrow}" />  
    </bean>  
  
    <!-- spring data redis -->  
    <bean id="jedisConnectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">  
        <property name="usePool" value="true"/>  
        <property name="hostName" value="${redis.ip}" />  
        <property name="port" value="${redis.port}" />  
        <property name="password" value="${redis.password}" />  
        <property name="timeout" value="${redis.timeout}" />  
        <property name="database" value="${redis.default.db}"/>  
        <constructor-arg index="0" ref="jedisPoolConfig" />  
    </bean>  
      
    <bean id="redisTemplate" class="org.springframework.data.redis.core.StringRedisTemplate">
        <property name="connectionFactory" ref="jedisConnectionFactory" />  
    </bean>
    
	<bean class="com.linksus.common.util.ContextUtil"></bean>
</beans>  