<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.linksus.dao.LinksusRelationPersonGroupMapper" >
	<!-- 返回字段映射  -->
	<resultMap id="LinksusRelationPersonGroup" type="LinksusRelationPersonGroup" >
		<result column="person_id" property="personId" jdbcType="BIGINT" />	
		<result column="group_id" property="groupId" jdbcType="BIGINT" />	
		<result column="group_source" property="groupSource" jdbcType="TINYINT" />	
		<result column="last_updt_time" property="lastUpdtTime" jdbcType="INTEGER" />	
	</resultMap>
    
    <!-- 查询字段  -->
	<sql id="Base_Column_List" >
		person_id,group_id,group_source,last_updt_time
	</sql>
    
    
    <!-- 列表查询  -->
	<select id="getLinksusRelationPersonGroupList"  resultMap="LinksusRelationPersonGroup" >
		  SELECT 
		  <include refid="Base_Column_List" />
		  FROM linksus_relation_person_group
	</select> 
    
    <!-- 主键查询  -->
	<select id="getLinksusRelationPersonGroupById"  resultMap="LinksusRelationPersonGroup"  parameterType="java.util.Map">
		  SELECT 
		  <include refid="Base_Column_List" />
		  FROM linksus_relation_person_group
		 WHERE 1=1  and person_id=#{personId:BIGINT} and group_id=#{groupId:BIGINT}
	</select> 
	
	<!-- 新增  -->
	<update id="insertLinksusRelationPersonGroup" parameterType="LinksusRelationPersonGroup">
		INSERT INTO linksus_relation_person_group(
		person_id,group_id,group_source,last_updt_time
		) VALUES(
		#{personId:BIGINT},#{groupId:BIGINT},#{groupSource:TINYINT},#{lastUpdtTime:INTEGER}
		)
	</update>
	
	<!-- 更新  -->
	<update id="updateLinksusRelationPersonGroup" parameterType="LinksusRelationPersonGroup">
		  UPDATE linksus_relation_person_group SET
		  person_id=#{personId:BIGINT},group_id=#{groupId:BIGINT},group_source=#{groupSource:TINYINT},last_updt_time=#{lastUpdtTime:INTEGER}
		 WHERE 1=1  and person_id=#{personId:BIGINT} and group_id=#{groupId:BIGINT}
	</update> 
	
	<!-- 主键删除 -->
	<update id="deleteLinksusRelationPersonGroupById" parameterType="java.lang.Long">
		  DELETE FROM linksus_relation_person_group 
		  WHERE 1=1  and person_id=#{personId:BIGINT} and group_id=#{groupId:BIGINT}
	</update> 
	
		<!-- 删除person_id的数据 -->
	<update id="deleteByPersonId" parameterType="java.lang.Long">
		  DELETE FROM linksus_relation_person_group 
		  WHERE person_id = #{person_id}
	</update> 
	
		<!-- 根据person_id 删除person_group组 并且-->
	<update id="deleteByHashMap" parameterType="java.util.HashMap">
		  DELETE a FROM linksus_relation_person_group  a ,linksus_relation_group b 
		  WHERE a.person_id = #{personId} and b.institution_id = #{institutionId} and a.group_id = b.group_id and b.group_type in(1,2) 
	</update> 
	    <!-- Map查询  -->
	<select id="getLinksusRelationPersonGroupByMap"  resultMap="LinksusRelationPersonGroup"  parameterType="java.util.Map">
		  SELECT t.group_id group_id,t.person_id person_id,t1.group_type group_type
		  FROM linksus_relation_person_group t,linksus_relation_group t1
		 		WHERE 1=1  
		 		and t.group_id = t1.group_id 
		 		and t.person_id = #{personId:BIGINT} 
		 	<if test="groupType == 4">  
        		and t1.group_type = 4
    		</if>
    		<if test="groupType == 1">  
        		and t1.group_type in (1,2,3)
    		</if>		
	</select> 
	
	<select id="searchRelationPersonGroupByMap"  resultMap="LinksusRelationPersonGroup"  parameterType="java.util.Map">
		  SELECT *
		  FROM linksus_relation_person_group 
		  WHERE   person_id = #{personId:BIGINT} 
          and group_id=#{groupId:BIGINT}
	</select> 
	<!-- 组合主键删除 -->
	<update id="deleteLinksusRelationPersonGroupByMap" parameterType="java.util.Map">
		  DELETE FROM linksus_relation_person_group 
		  WHERE 1=1  and person_id=#{personId:BIGINT} and group_id=#{groupId:BIGINT}
	</update> 
</mapper>   