<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.linksus.dao.LinksusRelationUserTagdefMapper" >
	<!-- 返回字段映射  -->
	<resultMap id="LinksusRelationUserTagdef" type="LinksusRelationUserTagdef" >
		<result column="pid" property="pid" jdbcType="BIGINT" />	
		<result column="tag_type" property="tagType" jdbcType="TINYINT" />	
		<result column="tag" property="tag" jdbcType="VARCHAR" />	
		<result column="use_count" property="useCount" jdbcType="INTEGER" />	
	</resultMap>
    
    <!-- 查询字段  -->
	<sql id="Base_Column_List" >
		pid,tag_type,tag,use_count
	</sql>
    
    
    <!-- 列表查询  -->
	<select id="getLinksusRelationUserTagdefList"  resultMap="LinksusRelationUserTagdef">
		  SELECT 
		  <include refid="Base_Column_List" />
		  FROM linksus_relation_user_tagdef
	</select> 
	
	<!--  查询存在list中的标签对象 -->
	
		<select id="getUserTagdefBySet"  resultMap="LinksusRelationUserTagdef" parameterType="java.util.Map">
		  SELECT 
		  <include refid="Base_Column_List" />
		  FROM linksus_relation_user_tagdef
		  where tag_type = #{accountType:TINYINT}  and  tag in 
          <foreach collection="tagsSet" index="index" item="item" separator="," open="(" close=")">  
          #{item}
          </foreach>
	   </select> 
    
    
    	<select id="checkIsExsitByTagAndaccoutType"  resultMap="LinksusRelationUserTagdef" parameterType="java.util.Map">
		  SELECT 
		  <include refid="Base_Column_List" />
		  FROM linksus_relation_user_tagdef
		  where tag_type = #{tagType:TINYINT}  and  tag=#{tag:VARCHAR} limit 1
          
	   </select> 
    <!-- 主键查询  -->
	<select id="getLinksusWeiboById"  resultMap="LinksusRelationUserTagdef" parameterType="java.lang.Long">
		  SELECT 
		  <include refid="Base_Column_List" />
		  FROM linksus_relation_user_tagdef
		  WHERE pid=#{pid:BIGINT}
	</select> 
	
	<!-- 新增  -->
	<update id="insertLinksusRelationUserTagdef" parameterType="LinksusRelationUserTagdef">
		INSERT INTO linksus_relation_user_tagdef(
		pid,tag_type,tag,use_count
		) VALUES(
		#{pid:BIGINT},#{tagType:TINYINT},#{tag:VARCHAR},#{useCount:INTEGER}
		)
	</update>
	
	<!-- 更新  -->
	<update id="updateLinksusRelationUserTagdef" parameterType="LinksusRelationUserTagdef">
		  UPDATE linksus_relation_user_tagdef SET
		  pid=#{pid:BIGINT},tag_type=#{tagType:TINYINT},tag=#{tag:VARCHAR},use_count=#{useCount:INTEGER}
		  WHERE pid=#{pid:BIGINT}
	</update> 
	
	<!-- 主键删除 -->
	<update id="deleteLinksusRelationUserTagdefById" parameterType="java.lang.Long">
		  DELETE FROM linksus_relation_user_tagdef 
		  WHERE pid=#{pid:BIGINT}
	</update> 
	
	<!-- 标签使用次数统计更新  -->
	<update id="updateLinksusRelationUserTagdefUseCount">
		 UPDATE linksus_relation_user_tagdef t, linksus_tag_trans t1
		 SET t.use_count = t1.use_count
		 WHERE pid = tag_id
	</update> 
	
	<!-- 清空用户标签统计使用的中间表   -->
	<update id="clearUserTagMiddleTable">
		 DELETE FROM linksus_tag_trans
	</update> 
	
</mapper>   