<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.linksus.dao.LinksusInteractAttentionReplyAcctMapper" >
	<!-- 返回字段映射  -->
	<resultMap id="LinksusInteractAttentionReplyAcct" type="LinksusInteractAttentionReplyAcct" >
		<result column="pid" property="pid" jdbcType="BIGINT" />	
		<result column="reply_id" property="replyId" jdbcType="BIGINT" />	
		<result column="account_id" property="accountId" jdbcType="BIGINT" />	
	</resultMap>
    
    <!-- 查询字段  -->
	<sql id="Base_Column_List" >
		pid,reply_id,account_id
	</sql>
    
    
    <!-- 列表查询  -->
	<select id="getLinksusInteractAttentionReplyAcctList"  resultMap="LinksusInteractAttentionReplyAcct">
		  SELECT 
		  <include refid="Base_Column_List" />
		  FROM linksus_interact_attention_reply_acct
	</select> 
    
    <!-- 主键查询  -->
	<select id="getLinksusInteractAttentionReplyAcctById"  resultMap="LinksusInteractAttentionReplyAcct" parameterType="java.lang.Long">
		  SELECT 
		  <include refid="Base_Column_List" />
		  FROM linksus_interact_attention_reply_acct
		  WHERE pid=#{pid:BIGINT}
	</select> 
	
	<!-- 新增  -->
	<update id="insertLinksusInteractAttentionReplyAcct" parameterType="LinksusInteractAttentionReplyAcct">
		INSERT INTO linksus_interact_attention_reply_acct(
		pid,reply_id,account_id
		) VALUES(
		#{pid:BIGINT},#{replyId:BIGINT},#{accountId:BIGINT}
		)
	</update>
	
	<!-- 更新  -->
	<update id="updateLinksusInteractAttentionReplyAcct" parameterType="LinksusInteractAttentionReplyAcct">
		  UPDATE linksus_interact_attention_reply_acct SET
		  pid=#{pid:BIGINT},reply_id=#{replyId:BIGINT},account_id=#{accountId:BIGINT}
		  WHERE pid=#{pid:BIGINT}
	</update> 
	
	<!-- 主键删除 -->
	<update id="deleteLinksusInteractAttentionReplyAcctById" parameterType="java.lang.Long">
		  DELETE FROM linksus_interact_attention_reply_acct 
		  WHERE pid=#{pid:BIGINT}
	</update> 
	 <!-- account_id主键查询  -->
	<select id="getLinksusInteractAttentionReplyAcctByAccountId"  resultMap="LinksusInteractAttentionReplyAcct" parameterType="java.lang.Long">
		  SELECT 
		  <include refid="Base_Column_List" />
		  FROM linksus_interact_attention_reply_acct
		  WHERE account_id=#{account_id}
	</select> 
</mapper>   